<!DOCTYPE html>
<html ng-app="tangledMazeApp">
<head>
    <meta charset="UTF-8">
    <title>Tangled Maze 2.0</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="GameController">
    <h1>Tangled Maze</h1>
	<p>Chances Left:{{rapunzelChances}}</p>
	<p>Healing Incantations Left:{{healingIncantations}}</p>
	<p>Score: {{score}}</p>
    <div class="maze">
        <div class="cell" ng-repeat="cell in maze" ng-class="cell.type" ng-click="move($index)">
            <img ng-src="images/{{image}}" ng-repeat="image in cell.images">
        </div>
    </div>
    <p>{{message}}</p>

    <button ng-click="resetGame()">Reset Game</button>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
</body>
</html>
